[submodule "Online-prediction/AMF"]
	path = Online-prediction/AMF
	url = https://github.com/wsdream/AMF.git
[submodule "data"]
	path = data
	url = https://github.com/wsdream/dataset.git
[submodule "Privacy-preserving"]
	path = Privacy-preserving
	url = https://github.com/wsdream/PPCF.git
